.app {
    &__main-contaiter {
        min-height: 100vh;
        background-color: #190b36;
    }

    &__link-container {
        display: flex;
        justify-content: center;
    }

    &__link {
        text-decoration: none;

        margin-top: 35px;

        font-size: 18px;
        color: #6a617d;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            color: #705f96;
        }

        &:focus {
            color: $main-white-color;
        }
    }

    &__nav-link-active {
        color: $main-white-color;
    }
}
