.app {
    &__main-contaiter {
        min-height: 100vh;
        background-color: #190b36;
    }

    &__link-container {
        display: flex;

        align-items: baseline;
        margin-right: 40px;
    }

    &__link {
        text-decoration: none;

        margin-top: 35px;

        font-size: 18px;
        color: #6a617d;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            color: #705f96;
        }

        &:focus {
            color: $main-white-color;
        }
    }

    &__nav-link-active {
        color: $main-white-color;
    }

    &__select {
        margin-right: 450px;
        margin-left: 40px;
        width: 120px;
        height: 40px;
        font-size: 15px;
        color: $main-white-color;
        border: none;
        background-color: #190b36;
        border-radius: 3px;
        cursor: pointer;

        &:focus-visible {
            outline: none;
        }
    }
}
