.find-movie {
    &__main-contaiter {
        background-color: #190b36;
    }

    &__form-container {
        display: flex;
        justify-content: center;

        margin-top: 35px;
    }

    &__label {
        font-size: 20px;

        color: #9d83d6;
    }

    &__input {
        width: 400px;
        margin-left: 15px;

        font-size: 20px;

        background-color: #190b36;
        color: $main-white-color;
        border: 1px solid #6a617d;
        border-radius: 3px;

        &:focus-visible {
            outline: none;
        }
    }

    &__list-container {
        display: flex;
        flex-wrap: wrap;

        margin-right: 40px;
        margin-left: 40px;
        margin-top: 30px;
        padding: 0;

        list-style: none;
    }

    &__list-item {
        margin-bottom: 40px;
        transition: 250ms ease-in-out all;

        &:hover {
            transform: scale(1.1);
        }

        &:hover .find-movie__backdrop {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.6);
        }

        &:not(:nth-child(4n)) {
            margin-right: 52px;
        }
    }

    &__list-item-link {
        text-decoration: none;
        color: $main-white-color;
    }

    &__list-item-text {
        width: 300px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #6a617d;
        }
    }

    &__img-or-backdrop-container {
        position: relative;
    }

    &__backdrop {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 450px;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 4;
        overflow: auto;
        transition: 250ms ease-in-out all;
    }

    &__backdrop-header {
        color: #9d83d6;
    }

    &__backdrop-text {
        margin-left: 7px;
        margin-right: 7px;
    }

    &__error-message {
        color: #f70515;
        text-align: center;
    }
}
