.home-movies {
    &__main-contaiter {
        background-color: #190b36;
    }

    &__main-header-container {
        display: flex;
        justify-content: center;
    }

    &__main-header {
        color: $main-purple-color;
    }

    &__list-container {
        display: flex;
        flex-wrap: wrap;

        margin-right: 40px;
        margin-left: 40px;
        padding: 0;

        list-style: none;
    }

    &__list-item {
        margin-bottom: 40px;
        transition: 250ms ease-in-out all;

        &:hover {
            transform: scale(1.1);
        }

        &:hover .home-movies__backdrop {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.6);
        }

        &:not(:nth-child(4n)) {
            margin-right: 52px;
        }
    }

    &__list-item-link {
        text-decoration: none;
        color: $main-white-color;
    }

    &__img-or-backdrop-container {
        position: relative;
    }

    &__backdrop {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 450px;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 4;
        overflow: auto;
        transition: 250ms ease-in-out all;
    }

    &__backdrop-header {
        color: $main-purple-color;
    }

    &__backdrop-text {
        margin-left: 7px;
        margin-right: 7px;
    }

    &__list-item-text {
        width: 300px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #6a617d;
        }
    }

    &__error-message {
        color: #db0b19;
    }

    &__main-loader-container {
        position: relative;
    }

    &__loader-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}
