$main-white-color: white;
$main-purple-color: #9d83d6;

@import './home-movies.scss';
@import './app.scss';
@import './find-movie.scss';
@import './movie-information.scss';
@import './cast.scss';
@import './reviews.scss';
@import './image-placeholder.scss';
@import './registration.scss';

body {
    height: 100vh;
    border-color: #190b36;
}
